* root{
    --gray-dark: #e6e6e6;
    --gray-light: #f0f0f0;
    --blue: #00aba9;
    --green: #7cb06c;
    --orange: #EB9D3A;
    --red: #e6563b;
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}