* {
    box-sizing: border-box;
}

:root{
    --gray-dark: #e6e6e6;
    --gray-light: #f0f0f0;
    --blue: #00aba9;
    --green: #7cb06c;
    --orange: #EB9D3A;
    --red: #e6563b;
}
body {
    background-color: var(--gray-light);
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

.container {
    /*margin: 0 10px;*/
}

/* === main grid set up for page === */

#main-content {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr 12em 10em 350px 250px;*/
}


#header-logo {
    margin: 3.5em 0;
    /*border: 3px solid black;*/
    height: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    grid-template-areas:
        "boxlogo boxlogo boxlogo"
        ;
}

#logoimg {
    position: absolute;
    left: 30%;
    top: -45%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#boxlogo {
    position: relative;
    display: flex;
    grid-area: boxlogo;
}

#titlexs {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 0;
    margin: 0;
}

#native-nav {
    height: 3em;
    /*border: 1px solid black;*/
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
}

#company-ad {
    width: 100vw;
    text-align: center;

}

#company-ad > h2 {
    margin: .5em 0;
}

#company-ad h4 {
    margin: 24px 0;
}

/* === circle design elements === */

#containerh {
    display: flex;
    justify-content: center;

}

#circlecont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: .5em;
    grid-column-gap: 1.5em;
    margin: 2.5em;

}

.circle {
    margin: 0 auto;
    border-radius: 50%;
    border: 8px solid white;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle p {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 28px;
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.orange {
    background-color: var(--orange);
}



/*Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/
/*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/
/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/
/*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/